@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
body{
    font-family: 'Castoro', serif; 
}
:root{
    --primary-color:#34D399;
    --off-white:#E5E7EB;
    --dark-gray:#6B7280;
}
hr{
    margin: 2rem 0rem;
}

/* container */
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* link */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list  */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding-top: 0rem 0.5rem;
}
/* navigation  */

.navigation{
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}
.navigation .nav-brand{
    font-weight: bold;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color:white;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */
.hero{
    padding: 2rem;
    text-align: center;
}

.hero .hero-img{
    max-width:350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-gray);
    padding-top: 1rem;
}

.hero .hero-heading .heading-inverted{
    color:var(--primary-color);
}
/* section  */
.section{
    padding: 2rem;
}
.section .img{
    max-width: 25%;
    display: block;
    margin: auto;
}
.section h1{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

/* footer  */
.footer{
    background-color:var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}