@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
body{
    font-family: 'Castoro', serif; 
}
:root{
    --primary-color:#10b981;
}
hr{
    margin: 2rem 0rem;
}

/* container */
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* link */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
    font-weight: bold;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    background-color: white;
    font-weight: bold;
}

/* list  */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding-top: 0rem 0.5rem;
}
/* navigation  */

.navigation{
    background-color: var(--primary-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem;
    color: white;
}
.navigation .nav-brand{
    font-weight: bold;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color:white;
}

.navigation .link-active{
    font-weight: bold;
}
.nav-el{
    font-size: 130%;
}

/* header */
.hero{
    padding: 1rem;
    text-align: center;
}

.hero .hero-img{
    max-width:350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: #37e9ab ;
}

.hero .hero-heading .heading-inverted{
    color:var(--primary-color);
}
/* section  */
.section{
    padding: 2rem;
    border-radius: 1rem;
    display: block;
    text-align: center;
}
.section .img{
    max-width: 25%;
    display: block;
    margin: auto;
}
.section .img-name{
    text-align: center;
}
.section h1{
    text-align: center;
}

.ow{
    background-color: #a7f3d0;
}
.dg{
    background-color: #e8eaec;
}

/* footer  */

footer {
    text-align: center;
  }
  
  footer p {
    font-size: large;
    text-align: center;
  }
  
  .inline{
      display: inline;
  }
  .icon{
    width: 40px;
    padding: 0 1rem;
  }
 /* ///// */

 .text1{
     color: #19503d ;
     font-weight: bold;
 }
 .text2{
     font-weight: bold;
 }
 .color-inverted{
     color:#37e9ab;
 }
 .project-heading{
    color: #878887
 }